<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.css">
    <title>Flask-SocketIO Test</title>
    <script
    			  src="https://code.jquery.com/jquery-1.12.4.js"
    			  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
    			  crossorigin="anonymous"></script>    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){

          var dp1 = $('#datepicker').datepicker();

          var dp2 = $('#datepicker2').datepicker();

          $('.datepicker').on('changeDate', function(e){
            console.log(dp1.datepicker('getDate'));
            console.log(dp2.datepicker('getDate'));
          })

          $('#datepicker').on('changeDate', function(e){
            console.log(dp1.datepicker('getDate'));
            console.log(dp2.datepicker('getDate'));
          })

          var date = new Date()

          $("#emit_data").val( [date.getFullYear(), date.getMonth(), date.getDate()-3, date.getHours()].join('/') );
          $("#request_end_data").val( [date.getFullYear(), date.getMonth(), date.getDate(), date.getHours()].join('/') );


          // db = {
          //   a
          //   aa
          //   aa1
          //   b
          //   bb
          //   bb1
          // }
          // from:a to:b => a, aa, aa1, b, bb, bb1

          var test_data = {
            "last/usage_total_low": '1037.1',
            "last/usage_total_high": '1022.1',
            'last/returned_total_high':'0',
            'last/returned_total_low':'0',
            'last/usage_current':'0.13',
            'last/returned_current':'0',
            'last/usage_total_gas':'1007',
            'usage_low/day/2016/6/12/11':'3.4',
            'usage_low/hour/2016/6/12/11/':'.2',
            'usage_low/hour/2016/6/12/12/':'.3',
            'usage_low/hour/2016/6/12/13/':'.31',
            'usage_low/hour/2016/6/12/14/':'.29',
            'usage_low/hour/2016/6/12/15/':'.32',
            'usage_low/hour/2016/6/12/16/':'.28',
          }

          $("#fill_data").val( JSON.stringify(test_data) );

            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('my response', function(msg) {
          		var r = new Array(), j = -1;
          		r[++j] ='<table class="table">';
          		for (key in msg.data){
          		  r[++j] ='<tr><td>';
             		  r[++j] = key;
             		  r[++j] = '</td><td class="whatever1">';
             		  r[++j] = msg.data[key];
             		  r[++j] = '</td></tr>';
           		}
                          r[++j] = '</table">';
           		$('#log').html(r.join(''));
	          });

            socket.on('response', function(msg) {
          	   console.log(msg.data);
	          });

            socket.on('my response2', function(msg) {
              console.log("usage_low");
          		for (key in msg.data.usage_low){
          		  console.log(key, msg.data.usage_low[key]);
           		}
              console.log("usage high");
          		for (key in msg.data.usage_high){
          		  console.log(key, msg.data.usage_high[key]);
           		}
	          });

            $('form#emit').submit(function(event) {

                var $selected = $('input[name="optradio"]:checked', '#emit');
                console.log($selected);
                var range = {
                  id:$selected.val(),
                  start:$('#emit_data').val(),
                  end:$('#request_end_data').val()
                }
                console.log(range);


                socket.emit('dataRequest', {data: range});
                return false;
            });

            $('form#Clear').submit(function(event) {
                console.log("clear");
                socket.emit('clearDataBase');
                return false;
            });

            $('form#fill').submit(function(event) {
                socket.emit('fillDataBase', {data: $('#fill_data').val()});
                return false;
            });
            $('form#dump').submit(function(event) {
                socket.emit('dumpDataBase');
                return false;
            });
            $('form#send_room').submit(function(event) {
                socket.emit('my room event', {room: $('#room_name').val(), data: $('#room_data').val()});
                return false;
            });
            $('form#close').submit(function(event) {
                socket.emit('close room', {room: $('#close_room').val()});
                return false;
            });
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect request');
                return false;
            });
        });
    </script>
</head>
<body role="document">
  <div class="container theme-showcase" role="main">
    <h1>Flask-SocketIO Test</h1>
    <h2>Send:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data">
        <input type="text" name="request_end_data" id="request_end_data">
        <label class="radio-inline">
          <input id="hour" type="radio" checked='checked' value='hour' name="optradio">hour
        </label>
        <label class="radio-inline">
          <input type="radio"  value='day' name="optradio">day
        </label>
        <label class="radio-inline">
          <input type="radio"  value='month' name="optradio">month
        </label>
        <input type="submit" value="send request">
    </form>
    <form id="Clear" method="POST" action='#'>
        <input type="submit" value="Clear" />
    </form>
    <form id="fill" method="POST" action='#'>
        <textarea rows="4" cols="25" name="fill_data" id="fill_data" placeholder="Room Name"></textarea>
        <input type="submit" value="Fill database">
    </form>
    <form id="dump" method="POST" action='#'>
        <input type="submit" value="dump database">
    </form>

    <div class="container">
        <div class'datepicker' id="datepicker" data-date="-1m" style="display: inline-block"><h2>start</h2></div>
        <div class'datepicker' id="datepicker2" data-date="0d" style="display: inline-block"><h2>end</h2></div>
    </div>




    <h2>Live data</h2>
    <div id="log"></div>
    <div id="graph"></div>
  </div>
</body>
</html>
